@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 18px/100% "Inter";
    color: #333333;
    user-select: none;
}

input {
    outline: none;
    border: none;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

ul, ol {
    list-style-type: none;
}
